<a href="#" id="test">test</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(function() {
    var app_id = 227;
    var query = "くえり";
    var app_name = "マスタ";
    $("#test").click(function() {
        var hostUrl= '//stargazer.respect-pal.localhost.org/jobs/add';
        $.ajax({
            url: hostUrl,
            type:'POST',
            dataType: 'json',
            data : {
                app_id: app_id,
                app_name: app_name,
                query: query
            },
            // timeout:3000,
        }).done(function(data) {
                          alert("ok");
        }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
                         alert("error");
        });
    });
});
</script>