<div class="list-group">
	<a class="list-group-item" href="/inquiries">SG問い合わせ受付管理</a>
	<a class="list-group-item" href="/stock">アマギフ在庫管理</a>
	<a class="list-group-item" href="/sendManager">アマギフ送付管理</a>
</div>